<extend name="Public:public" />


<block name="cssFile">
        <link rel = "stylesheet" href = "__PUBLIC__/Home/css/Support/jobs.css"/>
</block>


<block name="publicBody">
    <!--banner image-->
    <div id="header_img">
        <img src = "__PUBLIC__/Home/images/Support/list-banner.jpg"/>
    </div>
<main>
    <!--页面一分为二-->

    <!--左测  招聘信息列表-->
    <div id="main_left">

        <!--招聘类别-->
        <div class="category">
            <a href = "javascript:;" id="cat_0" class="category_click">全　部</a>
            <a href = "javascript:;" id="cat_1">产品类</a>
            <a href = "javascript:;" id="cat_2">研发类</a>
            <a href = "javascript:;" id="cat_3">营销类</a>
            <a href = "javascript:;" id="cat_4">设计类</a>
            <a href = "javascript:;" id="cat_5">客服类</a>
            <a href = "javascript:;" id="cat_6">职能类</a>
        </div>

        <!--招聘list-->
        <table class="job_list">
            <tr id="j01">
                <th>职位名称</th>
                <th>所属部门</th>
                <th>工作地点</th>
                <th>招聘人数</th>
                <th>招聘对象</th>
                <th>工　　资</th>
                <th>发布时间</th>
            </tr>

            <tr id="j02">
                <td>采购助理</td>
                <td>人力资源部</td>
                <td>深圳</td>
                <td>1</td>
                <td>全职社招</td>
                <td>10w年薪</td>
                <td>2015-01-07</td>
            </tr>
            <tr id="j03">
                <td>采购助理</td>
                <td>人力资源部</td>
                <td>深圳</td>
                <td>1</td>
                <td>全职社招</td>
                <td>面谈</td>
                <td>2015-01-07</td>
            </tr>
            <tr id="j04">
                <td>采购助理</td>
                <td>人力资源部</td>
                <td>深圳</td>
                <td>1</td>
                <td>全职社招</td>
                <td>30w年薪</td>
                <td>2015-01-07</td>
            </tr>
            <tr  id="j05">
                <td>采购助理</td>
                <td>人力资源部</td>
                <td>深圳</td>
                <td>10</td>
                <td>全职社招</td>
                <td>面谈</td>
                <td>2015-01-07</td>
            </tr>


        </table>

        <div class="main_left_footer">
            这里是翻页预留部分
        </div>


    </div>



    <!--右侧  新闻-->
    <div id="main_right">
        <p class="main_right_p">企业最新新闻</p>
        <div class="main_right_news">
            <p class="news"><a>五个月寻美六座城 vivo影像</a></p>
            <p class="news"><a>vivo X5Max评测：最薄手机你该知道的事</a></p>
            <p class="news"><a>vivo发布全球最薄X5Max：Hi-Fi成行业里程碑</a></p>
            <p class="news"><a>薄动心弦X5Max vivo Hi-Fi嘉年华现场直播网站</a></p>
            <p class="news"><a>薄动心弦X5Max vivo Hi-Fi嘉年华现场直播网站</a></p>
            <p class="news"><a>薄动心弦X5Max vivo Hi-Fi嘉年华现场直播网站</a></p>
            <p class="news"><a>薄动心弦X5Max vivo Hi-Fi嘉年华现场直播网站</a></p>
            <p class="news"><a>薄动心弦X5Max vivo Hi-Fi嘉年华现场直播网站</a></p>
            <p class="news"><a>薄动心弦X5Max vivo Hi-Fi嘉年华现场直播网站</a></p>
        </div>
        <!---->
        <!--<div class="main_right_ad">-->
            <!--<img src = "" alt = ""/>-->
            <!--广告图片轮播-->
        <!--</div>-->
        <!---->
    </div>


</main>

    <!--隐藏的招聘详情-->
    <div class="job_info">
        <div class="job_info_box">
            <div class="job_info_box_left">
                <p class="job_position">品牌服务经理</p>
                <div>

                    <p>职位名称：<span id="job_position">  品牌服务经理   </span></p>
                    <!--<p>职位编码：<span id="">00036</span></p>-->
                    <p>部　　门：<span id="department">中兴移动\客户服务部</span></p>
                    <p>招聘对象：<span id="work_time">全职</span></p>
                    <p>工作地区：<span id="work_place">南山区</span></p>
                    <p>岗位类别：<span id="">客服经理(非技术)</span></p>
                    <p>招聘人数：<span id="openinges">不限</span></p>
                    <p>月　　薪：<span id="salary">面谈</span></p>
                    <p>发布日期：<span id="start_time">2014-12-12</span></p>
                    <p>招聘类型：<span id="level">社招</span></p>
                    <p>年　　龄：<span id="age">不限</span></p>
                    <p>工作年限：<span id="">不限</span></p>
                    <p>英语等级：<span id="">不限</span></p>
                    <p>学　　历：<span id="education">不限</span></p>
                    <p>性　　别：<span id="sex">不限</span></p>
                </div>

                <div class="sub_button">
                    <a href = "javascript:;" class="return_button">返回</a>
                    <a href = "javascript:;" class="write_button">投递简历</a>
                </div>

            </div>


            <!--右侧-->
            <div class="job_info_box_right">
                <div class="job_info_box_right_top">
                    岗位职责：
                    1.负责公司电商平台、应用APP服务侧API及公司平台项目研发；
                    2.根据公司的研发流程，负责业务系统的核心模块的设计和开发工作；
                    3.根据公司的质量要求，对所负责的项目进行单元测试、系统集成测试及安全压力测试；
                    4.承担部分新技术的研究，并应用到公司实际项目生产环境中；
                    5.独立解决开发中遇到的疑难问题及攻关，技术设计文档编写，带领初中级开发人完成系统功能开发；
                    6.思路清晰，善于思考，能独立分析和解决问题，责任心强，具备良好的团队合作精神和承受压力的能力。
                </div>
                <div class="job_info_box_right_bottom">
                    任职要求：
                    1. Java基础扎实，精通多线程编程、网络编程，理解JVM；
                    2. 两年及以上Java工作经验；对Spring、Hiernate、MyBatis/ibatis等开源框架熟悉；
                    3. 熟悉Html/JavaScript/Css/Ajax基本的前端开发；
                    4. 掌握Linux操作系统和MySQL数据库，SQL调优；
                    5. 熟练配置维护Nginx/Tomcat/Jetty等服务，掌握shell脚本工具；
                    6. 精通TCP/IP、HTTP等协议, 熟悉REST、WebService等技术，熟悉缓存、消息机制；能对分布式常用技术进行合理应用，解决问题；
                    7. 具有良好的沟通能力，有中大型互联网产品架构或开发、敏捷开发经验优先。

                </div>
            </div>
        </div>
    </div>

</block>



<block name="bottomJsFile">


<script>

    //变量

    var getId = ''; //点击tr获得id,通过id判断要进入哪一个的招聘信息详情
    var carId = ''; //类别id

    //alert(parseInt($('#main_right').height()));
    $(function(){
        //$('.main_left_footer').css({'width':parseInt($('#main_left').css('width'))});
        $('#main_left').css({'min-height':parseInt($('#main_right').height())-80});
    })

    //获得点击的招聘id
    $('tr').not(0).bind('click',function(){
        getId = $(this).attr('id');
        //这里以后要补全链接    debug
        $('.job_info').css({'display':'block','height':$(document).width()+150});

    });
    $('.return_button').bind('click',function(){
        $('.job_info').css({'display':'none'});
    });

    $('.job_info').bind('click',function(event){
        $('.job_info').css({'display':'none'});

    });
    $('.job_info_box').bind('click',function(event){
        event.stopPropagation();
    });



    //获得点击的类型id
    $('.category a').bind('click',function(){
        carId = $(this).attr('id');
        $('.category a').removeClass('category_click');
        $(this).addClass('category_click');
//        $('.category a').css({'color':'#000'});
//        $(this).css({'color':'red'});
    })
</script>
</block>
