<!DOCTYPE html>
<html>
<head lang = "en">
    <meta charset = "UTF-8">
    <title>加入我们</title>
    <link rel = "stylesheet" href = "__PUBLIC__/home/css/Support/joinUs.css"/>
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
</head>
<body>
    <!--头部ad-->
    <header>
        <img src = "#"/>
    </header>

    <main>
        <!--加入我们-->
        <div class="title">
            <span></span>加入我们<small>Join Us</small>
        </div>

        <!--工作地点-->
        <div class="address">
            <span>工作地点：浦东大道（浦东大道地铁站1号出口500米）</span>
        </div>

        <!--招聘职位-->
        <div class="title">
            <span></span>招聘职位<small>Position</small>
        </div>

        <!--职位列表-->
        <div class="all_list">
            <a class="list" href = "#1">PHP开发工程师</a>
            <a class="list" href = "#2">Flex& AS3 程序员</a>
            <a class="list" href = "#3">C++后台研发工程师</a>
            <a class="list" href = "#4">JAVA软件工程师</a>
            <a class="list" href = "#5">JAVA高级软件工程师</a>
            <a class="list" href = "#6">Android软件开发工程师</a>
            <a class="list" href = "#7">移动端产品经理</a>
            <a class="list" href = "#8">网站运营人员</a>
            <a class="list" href = "#9">交互设计师</a>
            <a class="list" href = "#10">UI设计师</a>
            <a class="list" href = "#11">产品设计师</a>
            <a class="list" href = "#12">产品管理员</a>
            <a class="list" href = "#13">资深产品经理运营策划</a>
            <a class="list" href = "#14">运营策划</a>
            <a class="list" href = "#15">宣传文案</a>
        </div>

        <div class="all_list_info">
            <div class="join_detail" id="j1">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>PHP开发工程师</h2>
                <br />
                工作地点：上海<br />
                工作职责：按照项目计划，与项目组其他成员协同工作实现开发目的；<br />
                职位要求：<br />
                <p>1、计算机或相关专业本科或以上学历；</p>
                <p>2、三年以上PHP开发经验，能够独立编写中等规模PHP应用程序；</p>
                <p>3、精通PHP+MYSQL编程，熟练使用Javascrīpt/Ajax以及CSS编写；</p>
                <p>4、了解Linux操作系统，了解Linux下简单编程，精通php的面向对象编程，精通php的模板编程；</p>
                <p>5、熟悉MYSQL数据库开发，配置、维护、性能优化；</p>
                <p>6、具有MySQL索引优化、查询优化和存储优化经验方面的经验。要求随时随地贯彻最优化开发的思想；</p>
                <p>7、拥有良好的代码习惯，结构清晰，命名规范，逻辑性强，代码冗余率低；</p>
                <p>8、熟练应用Subversion进行协作开发，有撰写设计文档的习惯，有团队开发经验；</p>
                <p>9、熟悉XHTML、XML、JSON；</p>
                <p>10、热爱开发工作，团队合作意识良好。</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j2">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>Flex &amp; AS3 程序员</h2>
                <br />
                工作地点：上海<br />
                工作职责：参与网站 Flash 程序的维护、开发<br />
                职位要求：<br />
                <p>1、熟练使用 ActionScript 3.0 编程语言</p>
                <p>2、熟练使用 Flex(4+) 应用框架</p>
                <p>3、具有良好的编程习惯，熟悉一些 AS3 编程框架</p>
                <p>4、具有一定的技术相关的英文资料的阅读能力</p>
                <p>5、有自己的github主页优先</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j3">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>C++后台研发工程师</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责网站系统的设计和开发；
                <p>&nbsp;&nbsp;负责网站系统的运营和优化。</p>
                职位要求：<br />
                <p>1、计算机相关专业本科及以上学历；</p>
                <p>2、3年以上相关工作经验，其中包括2年以上Unix/linux环境上开发经验；</p>
                <p>3、熟练掌握C/C++编程语言；</p>
                <p>4、熟悉基于Socket的网络编程，对高并发、内存管理有一定的研究</p>
                <p>5、具备较强的团队合作意识，良好的编码习惯</p>
                <p>6、具备良好的英语阅读能力</p>
                <p>7、具备良好的分析解决问题能力，能独立承担工作任务及把控任务进度；</p>
                <p>8、责任心强，主动好学有进取心。</p>
                <p>优先：</p>
                <p>参与过开源项目或者有个人的技术博客</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j4">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>JAVA软件工程师</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责平台服务端业务<br />
                职位要求：<br />
                <p>1、本科或以上学历，计算机软件或相关专业</p>
                <p>2、一年以上J2EE项目开发经验；熟悉J2EE设计模式，熟悉Java及Web应用的开发</p>
                <p>3、熟悉Spring,ibatis,struts2等框架</p>
                <p>4、熟悉jQuery前端开发技术</p>
                <p>5、了解Nginx，Apache，lighthttpd中的其中一项静态服务器</p>
                <p>6、了解Linux系统，熟悉使用Linux命令</p>
                <p>7、使用过memcached，redis中的其中一项缓存框架技术</p>
                <p>8、熟悉使用MySQL数据库，了解基本的MySQL性能调优以及问题监控定位</p>
                <p>9、了解Internet基本协议（如TCP/IP、HTTP等）内容及相关应用</p>
                <p>10、有很强的分析问题和解决问题的能力，有强烈的责任心</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j5">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>JAVA高级软件工程师</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责平台服务端业务<br />
                职位要求：<br />
                <p>1.本科或以上学历，计算机软件或相关专业</p>
                <p>2.三年以上J2EE项目开发经验；熟悉J2EE设计模式，精通Java及Web应用的开发</p>
                <p>3.深入了解Spring,ibatis,struts2等框架（框架提供的特性及其实现原理）</p>
                <p>4.熟悉jQuery，seajs等前端开发技术</p>
                <p>5.熟悉Nginx，Apache，lighthttpd中的其中一项静态服务器</p>
                <p>6.熟悉分布式、多线程及高性能的设计与编码及性能调优</p>
                <p>7.了解Linux系统，熟悉使用Linux命令</p>
                <p>8.熟悉memcached，redis中的其中一项缓存框架技术</p>
                <p>9.熟悉使用MySQL数据库，了解基本的MySQL性能调优以及问题监控定位</p>
                <p>10.精通Internet基本协议（如TCP/IP、HTTP等）内容及相关应用</p>
                <p>11.有很强的分析问题和解决问题的能力，有强烈的责任心</p>
                <p>12.大规模高并发访问的Web应用架构设计和开发经验者优先</p>
                <p>13.有过开放平台登录系统以及支付系统开发经验者优先</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j6">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>Android软件开发工程师</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责 Android 应用的开发和维护工作                    <br />
                职位要求：<br />
                <p>1、扎实的 Java 语言基础;</p>
                <p>2、熟悉常用的 Android 优化知识;</p>
                <p>3、加分项:</p>
                <p>&emsp; 1)有自己主持或参与的线上产品或开源项目（请附上地址）;</p>
                <p>&emsp; 2)有视频播放器的开发经验;</p>
                <p>&emsp; 3)熟悉 H264 硬件加速解码技术;</p>
                <p>&emsp; 4)熟悉一门或多门脚本语言;</p>
                <p>&emsp; 5)熟悉 C/C++ 语言及 NDK 开发;</p>
                <p>4、建议随简历附上一份自己写过的不包含商业机密的代码。</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j7">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>移动端产品经理</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责移动端产品的功能策划，需求控制，项目实现，版本上线等产品线全流程跟进工作；
                <p>&nbsp;&nbsp;获取用户体验意见，关注用户数据，并将其应用于策划工作中；</p>
                <p>协助运营团队完成安装推广、活动运营、商务拓展等工作；</p>
                <p>&nbsp;</p>
                与运营、开发等团队协作，达成项目的运营目标。
                <p>&nbsp;</p>
                职位要求：<br />
                <p>1、三年互联网行业产品工作经验，其中至少一年移动互联网产品设计工作经验；</p>
                <p>2、了解iPad，iPhone和Android的平台特点和设计原则；</p>
                <p>3、具备较强的产品策划能力、逻辑思维能力，文档撰写能力以及推进执行力；</p>
                <p>4、较强的审美能力，扎实的交互设计能力；</p>
                <p>5、有极高的工作热情，个性成熟，良好的沟通协作能力。</p>
                <p>6、良好的创新能力，较强的抗压性。</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j8">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>网站运营人员<span class="red">  （白班/晚班）</span></h2>
                <br />
                工作地点：上海<br />
                工作职责：负责审核用户投稿视频，受理客户举报，收集用户意见建议等。<br />
                职位要求：<br />
                <p>1.高中或以上学历，普通话流利。</p>
                <p>2.较为良好的沟通能力，能多面的看待问题。</p>
                <p>3.对ACG相关内容了解较深者优先。</p>
                <p>4.有相关贴吧和论坛管理经验者优先。</p>
                <p>5.试用期时间视实际工作情况1-6个月不等。</p>
                <p>6.应聘晚班请在投送简历内注明。</p>
                <p>注：上海长居者优先</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j9">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>弹幕评论管理</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责弹幕评论相关工作<br />
                职位要求：<br />
                <p>1.高中或以上学历，普通话流利。</p>
                <p>2.对番剧、漫画、轻小说等ACG相关内容了解较深者优先。</p>
                <p>3.有良好的协调合作能力。能客观多方面地看待问题。</p>
                <p>4.有相关贴吧和论坛管理经验者优先。</p>
                <p>5.有日文原版轻小说、漫画阅读能力者优先。</p>
                <p>注：上海长居者优先</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j10">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>影视剧区 编辑</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责采编管理维护和推荐影视剧区的相关内容。<br />
                职位要求：<br />
                <p>1、热爱观看日剧、美剧、电影等等，有大量追剧的习惯；</p>
                <p>2、做事细心有条理，工作认真负责；</p>
                <p>3、有将相关内容做的更好的信心；</p>
                <p>4、会图像处理软件及视频压制；</p>
                <p>5、接受晚班或调班制度。</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j11">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>编辑</h2>
                <br />
                工作地点：上海<br />
                工作职责：负责描写采编站点内的精彩内容并制作成相关话题。<br />
                职位要求：<br />
                <p>1、了解站内文化，有良好的文编能力；</p>
                <p>2、做事细心有条理，工作认真负责；</p>
                <p>3、有一定的图片处理能力；</p>
                <p>4、投递简历时请附带作品（要求试做一期话题，相关地址：http://www.bilibili.tv/topic/integrated-1.html）</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j12">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>画师</h2>
                <br />
                工作地点：上海<br />
                工作职责：参与并完成公司项目和相关产品。<br />
                职位要求：<br />
                <p>1、手绘能力出色，构图及色彩能力扎实;</p>
                <p>2、熟练使用 PS、AI 等图像处理软件;</p>
                <br />
                <p>投递简历时请附带个人作品或P站主页连接</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j13">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>交互设计师</h2>
                <br />
                工作地点：上海<br />
                工作职责：设计用户行为及产品的信息构架，保证产品的可用性；<br />
                <p>参与互联网社区产品的规划构思，归纳用户目标、用户任务；</p>
                <p>参与用户研究，根据用户研究的结果对设计方案进行优化；</p>
                <p>对现有产品的可用性测试和评估提出改进方案，持续优化产品的用户体验；</p>
                <p>参与界面规范的制定与实施；</p>
                <p>参与组织建设交互设计团队，负责培养新人。</p>
                职位要求：<br />
                <p>1、本科以上学历，工业设计、计算机、心理学等相关专业；</p>
                <p>2、2年以上的网页、软件行业交互设计工作经验，并有成功案例；</p>
                <p>3、熟悉网站构建的相关流程，包括网站功能分析、用户角色分析、原型设计、界面开发、易用性测试等；</p>
                <p>4、能够提供高质量的产品原型、流程图、线框图等清晰的表达设计方案；</p>
                <p>5、熟练运用交互设计各种方法，对交互设计理论有较深的了解和认识；</p>
                <p>6、对业界最新的交互应用有深入的见解；</p>
                <p>7、对互联网产品的发展趋势，产品总体规划有较深刻的理解；</p>
                <p>8、对用户体验和易用性有敏锐的把握能力；</p>
                <p>9、富有激情、积极主动、关注细节、学习能力强；</p>
                <p>10、良好的口头表达能力和写作能力，英文、日文能力强者更佳。</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j14">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>UI设计师</h2>
                <br />
                工作地点：上海<br />
                工作职责：参与完成公司产品设计及UI设计,共同合作完成产品的最终实现.<br />
                职位要求：<br />
                <p>1、具有完整的项目作品(请在邮件内付上)</p>
                <p>2、手绘能力出色，构图及色彩能力扎实;</p>
                <p>3、熟练使用 PS、AI 等图像处理软件;</p>
                <p>4、对 App 设计有强烈兴趣;</p>
                <p>5、细节强迫症患者优先。</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j15">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>游戏运营经理</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、负责游戏上线、数据观测工作；</p>
                <p>2、监控游戏运行状态，维护游戏世界的正常秩序，解答玩家的问题；</p>
                <p>3、负责联运平台关系维护，资源获取，沟通与协调；</p>
                <p>4、对工作或产品问题进行反馈并提出改进建议；</p>
                <p>5、游戏日常运营的其他相关工作</p>
                职位要求：<br />
                <p>1、有手游游戏联运平台的运营经验，至少做过联运工作1年以上的经验，熟悉常规的手游联运平台的上线规则和节奏；</p>
                <p>2、对IOS和Android的游戏产品有很深的了解优先录用；</p>
                <p>3、喜欢ACG游戏，喜欢二次元文化优先录用；</p>
                <p>4、有良好的团队合作精神,良好的沟通协调能力，能承受较大压力；</p>
                <p>5、有较强的数据分析与逻辑分析能力，并具备良好的文案写作能力；</p>
                <p>6、工作积极主动，有强烈的工作愿望与责任心，有包容不同意见的工作态度；</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j16">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>游戏运营专员</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、负责ACG游戏运营工作，包括新闻、公告、攻略的撰写、发布；</p>
                <p>2、根据用户需求及市场需求策划游戏专题、活动；</p>
                <p>3、负责游戏平台日常维护与管理，对玩家问题进行解答、整理、收集；</p>
                <p>4、负责运营数据分析、市场状况分析，以及业内相关产品评测；</p>
                <p>5、对产品运营突发问题，各种情况能及时进行反应并处理；</p>
                <p>6、随时处理玩家遇到的</p>
                职位要求：<br />
                <p>1、熟悉智能手机游戏市场，熟练使用ios和android系统，热爱手机游戏；</p>
                <p>2、对数据敏感，有责任心；</p>
                <p>3、有优秀的团队合作精神，善于沟通，乐于助人；</p>
                <p>4、善于整理、收集文档，采集数据、分析数据并通过数据挖掘和分析出有效运营策略；</p>
                <p>5、能承受较大工作压力，有不达目的不罢休的干劲。</p>
                <p>6、热爱ACG游戏，重度ACG爱好者优先</p>
                <p>7、思维活跃、创造力强，具备线上、线下活动策划、组织、实施相关工作经验者优先；</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j17">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>游戏玩家服务</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、回答玩家提问；</p>
                <p>2、收集游戏中玩家反馈的BUG与建议；</p>
                <p>3、接听玩家服务专线电话，回复玩家的信件及电子邮件；</p>
                <p>4、解答玩家有关公司及公司游戏相关问题；</p>
                <p>5、公司游戏及网站的日常管理和检查工作；</p>
                <p>6、执行客户服务操作流程；</p>
                <p>7、建立客户沟通渠道，解决客户的投诉。</p>
                职位要求：<br />
                <p>1、热爱游戏行业并精通两款以上的网络游戏，能使用常见软件，了解当前网络游戏环境；</p>
                <p>2、表达、沟通能力强，能吃苦耐劳，能承担工作压力，渴望学习和进步；</p>
                <p>3、思路清晰文笔流畅，有一定的归纳总结能力；</p>
                <p>4、熟悉OFFICE，打字聊天速度每分钟50个字以上；</p>
                <p>5、有客服相关工作经验者优先。</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j18">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>游戏评测专员</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、负责对国内外市面ACG游戏的评测，并配合团队选择优质潜力手游产品；</p>
                <p>2、对引入游戏的游戏性和可玩性以及持续发展性进行评估；</p>
                <p>3、从用户体验、游戏品质、运营情况等方面编写评测报告；</p>
                <p>4、对可能合作产品提出修改性的建议；</p>
                <p>5、针对国内ACG市场环境，有自己独到的见解，并参与国内、外市场拓展计划。</p>
                职位要求：<br />
                <p>1、为人正直、热情，对工作有自己独特见解、思路清晰、擅于分析汇总。</p>
                <p>2、热爱游戏，具有较高的游戏攻关能力者优先；</p>
                <p>3、具有丰富的游戏经历和较高的游戏鉴赏能力者优先；</p>
                <p>4、十分熟悉IOS/Android系统的手机游戏；</p>
                <p>5、基于用户体验特征和产品内容进行剖析并提出合理优化方案；</p>
                <p>6、重度ACG爱好者优先，具有一定的日语翻译能力（有字幕组翻译经验优先）；</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j19">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>动漫游戏内容运营</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、国内、外动漫游戏介绍及攻略解说；</p>
                <p>2、收集各种动漫游戏的相关资料，有图文、视文的采编能力；</p>
                <p>3、负责动漫游戏内容及专题的整理，对站内的动漫游戏攻略进行查漏补缺，翻译及处理相关动漫游戏的资料，参与动漫游戏改进与相关活动的企划。</p>
                职位要求：<br />
                <p>1、热爱游戏并极度热爱动漫者优先；</p>
                <p>2、对动漫游戏的内容熟知，对动漫游戏的改进有自己的见解，有策划相关活动的能力；</p>
                <p>3、具有一定的日语翻译能力（有字幕组翻译经验优先）；</p>
                <p>4、动漫站元老级用户、重度ACG爱好者优先；</p>
                <p>5、会图像或视频处理软件，有视频压制、时间轴、后期等字幕组经验者优先。</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j20">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>UI设计师(游戏)</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、公司网站（动漫游戏类）的产品设计及UI设计，共同合作完成产品的最终实现；</p>
                <p>2、配合运营和其他部门完成专题页面设计及广告设计；</p>
                <p>3、对公司的宣传产品进行美工设计；</p>
                <p>4、游戏官网设计、Flash广告设计；</p>
                职位要求：<br />
                <p>1、有相关网页设计或UI设计作品的优先录用</p>
                <p>2、热爱游戏并极度热爱动漫者优先</p>
                <p>3、具备扎实的构图、美术功底，有手绘功底者优先</p>
                <p>4、熟练使用 PS、AI 等图像处理软件;</p>
                <p>5、对 App 设计有强烈兴趣;</p>
                <p>6、细节强迫症患者优先。</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j21">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>媒介传播</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、寻找发掘手游媒体并建立良好的关系，不断充实和完善媒体资源库搜集并分析相关媒介资料，及时把握媒体动向，充分掌握媒介知识；</p>
                <p>2、与媒体建立长期稳定的合作关系，掌握媒介购买谈判技巧，使公司得到合理的媒介购买成本；效果监控与简报；</p>
                <p>3、关注行业动态，关注竞争型产品信息，并进行监测及报告；</p>
                <p>4、日常软性宣传资源、广告投放的联系沟通、媒体合作活动的策划、实施、跟进；</p>
                <p>5、日常媒介流程的处理，能很好的和整个团队沟通协调，其他支持。</p>
                职位要求：<br />
                <p>1、2年以上手机游戏行业媒介岗位的从业经验；</p>
                <p>2、熟悉互联网行业和媒介市场行情，了解媒体传播和广告业务操作流程，具备丰富的媒体资源；</p>
                <p>3、具有优秀的媒介策划能力和执行能力；</p>
                <p>4、有较强的市场感知能力，有敏锐地把握市场动态、市场方向的能力。</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j22">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>PHP开发工程师(游戏)</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、参与网站核心代码开发，负责程序模块的架构设计、代码编写，撰写开发文档；</p>
                <p>2、CMS系统二次开发（PHPCMS、ECSHOP、DISCUZ等等主流CMS开源系统）；</p>
                <p>3、功能模块开发；</p>
                职位要求：<br />
                <p>1.两年以上PHP开发经验，能够独立完成绝大部分的开发工作；精通PHP+Mysql开发；</p>
                <p>2.能够熟练使用PHPCMS、ECSHOP、DISCUZ等CMS开源系统，并对以上系统进行深度二次开发；</p>
                <p>3.掌握DIV+CSS、JavaScript、JQuery、Ajax、JSON等页面技术；</p>
                <p>4.熟悉LAMP环境，Linux操作，了解Apache和MySQL的运行机制者优先考虑；</p>
                <p>5.了解分布式数据库、静动态内容缓存、搜索引擎技术等开源技术解决方案；</p>
                <p>6.较强的分析和解决问题的能力，有良好的编程习惯，结构清晰，命名规范，逻辑性强，代码冗余率低；</p>
                <p>5.有开发CMS相关经验，熟悉Smarty模板者优先；</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j23">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>Android高级/资深开发工程师(游戏)</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、 从事Android平台手机游戏平台软件的开发。</p>
                <p>2、游戏平台SDK开发与维护。</p>
                职位要求：<br />
                <p>1、计算机及相关专业本科以上学历；</p>
                <p>2、良好的Java技术功底；</p>
                <p>3、熟悉Android系统架构及相关技术，3年以上实际Android平台开发经验；</p>
                <p>4、思路清晰，思维敏捷，快速的学习能力，良好的英文资料阅读能力；</p>
                <p>5、能承担较大工作压力，具备良好的沟通能力和团队合作精神；</p>
                <p>6、游戏公司开发经验、日本动漫、ACG爱好者优先录取。</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j24">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>产品跟单员（周边）</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、 负责与供应商沟通洽谈，货品生产进度及质量跟进工作。</p>
                职位要求：<br />
                <p>1、1年以上产品跟单或者采购经验；</p>
                <p>2、熟悉行业特点及工厂的生产管理流程</p>
                <p>3、熟悉相关跟单流程，有丰富跟单经验；</p>
                <p>4、对产品结构、材料和加工工艺有较全面了解</p>
                <p>5、有较好的商务谈判技巧；</p>
                <p>6、具有良好的责任心和团队合作精神，有较强的沟通和协调能力，能承受较大的工作压力。</p>
                <p>7、有互联网周边成品及物料市场行情；</p>
                <p>8、有驾照者优先</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j25">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>产品设计师（周边）</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、 熟悉公司产品和本行业的市场需求，对产品进行创意，配合制作部门完成产品的绘图及制作。</p>
                职位要求：<br />
                <p>1、配合公司内部产品开发，有产品原创的思维和经验，完成产品效果图绘制。</p>
                <p>2、熟练操作CAD、3DMAX、Photoshop、illustrator等相关设计软件</p>
                <p>3、了解行业特点，对产品结构、材料和加工工艺有较全面的了解</p>
                <p>4、思维活跃，富于创意，易于沟通，具备团队合作精神</p>
                <p>5、设计相关专业优先</p>
                <p>6、邮件请附自己成功案例、作品</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j26">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>产品管理员（周边）</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、 执行物资管理与仓库有关的sop，确保仓库作业顺利进行</p>
                <p>2、兼并部分产品发货及部分客服工作</p>
                职位要求：<br />
                <p>1、熟悉仓库储存管理流程，掌握进销存管理基本知识，有相关领域操作工作经验者优先。</p>
                <p>2、熟练操作办公管理软件，完成仓库数据的统计、存档、帐号和系统数据的输入</p>
                <p>3、对互联网和电子商务有浓厚兴趣，热爱外贸电子商务工作</p>
                <p>4、良好的沟通、分析能力及团队合作精神，工作认真，责任心强</p>
                <p>5、有驾照者优先</p>
                <br />
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j27">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>资深产品经理</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、 负责该产品全生命周期的管理、协调和控制，引导业务共同实现增长；</p>
                <p>2、通过持续优化用户体验、降低成本，改善人员利用效率，达到产品业界领先；</p>
                <p>3、与全公司产品团队及相关职能部门之间保持紧密的联络与合作，以得到及时有效地支持。</p>
                职位要求：<br />
                <p>1、3年以上团队管理经验；3年以上产品管理经验；</p>
                <p>2、深刻理解互联网产品管理；</p>
                <p>3、对行业有深刻了解；具备前瞻性和战略思考能力；</p>
                <p>4、具备优秀的互联网项目管理能力，按时并高质量交付项目，以结果为导向；</p>
                <p>5、具备良好的领导力、组织协调、沟通能力及推动跨团队合作能力、高执行力；</p>
                <p>6、善于激励下属、形成团队战斗力。</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j28">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>运营策划（游戏向）</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、游戏策划案的设计与跟进，与合作方及内部各部门的全面沟通与协作;</p>
                <p>2、跟进产品线上反馈，优化产品体验并跟进运营版本;</p>
                <p>3、运营活动设计与跟进，与合作方及内部各部门的全面沟通与协作;</p>
                职位要求：<br />
                <p>1、热爱游戏，对ACG游戏有较深理解者优先，具有丰富游戏经验者优，;有研运工作经历者优先;</p>
                <p>2、思维活跃，根据产品需要设计活动方案，具有创新的策划精神;</p>
                <p>3、执行力强，高效，熟悉快速迭代的开发模式并适应快节奏的工作进度，能承担压力;</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
        <div class="join_detail" id="j29">
            <a href="#banner" class="up_top">回到顶部</a>
            <div class="join_detail_text">
                <h2>宣传文案（游戏向）</h2>
                <br />
                工作地点：上海<br />
                工作职责：
                <p>1、负责宣传文案稿件的撰写、审核工作;</p>
                <p>2、负责部门的宣传体系建设，推动配套制度、流程和项目有效执行;</p>
                <p>3、参与建立部门对内对外的宣传规划、管理目标和宣传渠道建设;</p>
                <p>4、企业站建设及品牌维护工作;</p>
                职位要求：<br />
                <p>1、新闻相关专业优先考虑，曾在游戏相关媒体就任杂志编辑、运营策划优先考虑;</p>
                <p>2、了解游戏行业发展趋势，有优秀的文字撰写能力;</p>
                <p>3、热爱游戏，有一定游戏经验并极度热爱动漫者优先;</p>
                <p>4、具备优秀的组织策划能力、学习能力、沟通协调能力和团队协作能力;</p>
                <br />
                <p>投递简历时请附带个人作品</p>
                <p>详细个人介绍与简历投递至<span class="red">zhaopin@bilibili.com</span></p>
                <p>（邮件标题格式为"真名-应聘职位名称"）</p>
            </div>
        </div>
            </div>
    </main>
</body>
<script>
    var jump = '';
    $('.list').click(function(){
        jump = '#j' + $(this).attr('href').slice(1);


        $("html,body").animate({
            scrollTop: $(jump).offset().top
        }, 0);
    })

    $('.up_top').click(function(){
        $("html,body").animate({
            scrollTop: $('.all_list').offset().top
        }, 0);
    })

</script>
</html>
