<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
<!-- Fav and touch icons -->
<php>$logo5=C('logo5');</php>
<link rel='icon' href='<{$logo5}>' type='image/x-ico' /> 
<title><{$title}></title>
<meta name="Keywords" content="<{$keywords}>">
<meta name="Description" content="<{$description}>">
<!-- Bootstrap core CSS -->
<link href="__PUBLIC__/Mobile/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- add theme styles for this template -->
<link id="pagestyle" rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/assets/css/skin-1.css">

<!-- Custom styles for this template -->
<link href="__PUBLIC__/Mobile/assets/css/style.css" rel="stylesheet">



<!-- styles needed by checkRadio -->
<link href="__PUBLIC__/Mobile/assets/css/ion.checkRadio.css" rel="stylesheet">
<link href="__PUBLIC__/Mobile/assets/css/ion.checkRadio.cloudy.css" rel="stylesheet">

<!-- styles needed by mCustomScrollbar -->
<link href="__PUBLIC__/Mobile/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">

<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../../../https@oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="../../../../https@oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- include pace script for automatic web page progress bar  -->

<script>
    paceOptions = {
      elements: true
    };
</script>
<script src="__PUBLIC__/Mobile/assets/js/pace.min.js"></script>
     <script type="text/javascript">
</script>
<block name="cssFile">
</block>
<block name="topJsFile">
</block>
</head>

<body>



<!-- Modal Login start -->
<div class="modal signUpContent fade" id="ModalLogin" tabindex="-1" role="dialog" >
  <div class="modal-dialog ">
    <form action="<{:U('Login/mobileindexLogin')}>" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h3 class="modal-title-site text-center" > 登陆 </h3>
      </div>
      <div class="modal-body">
        <div class="form-group login-username">
          <div >
            <input id="login-user" class="form-control input"  size="20" name="username"  placeholder="邮箱账号" type="text">
          </div>
        </div>
        <div class="form-group login-password">
          <div >
            <input name="password" id="login-password" class="form-control input"  size="20" placeholder="密码" type="password">
          </div>
        </div>
        <div >
          <div >
            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="LOGIN" type="submit">
          </div>
        </div>
        <!--userForm--> 
        
      </div>
      <div class="modal-footer">
        <p class="text-center"> 没有账号？ <a data-toggle="modal"  data-dismiss="modal" href="#ModalSignup"> 点击注册</a> <br>
          <a href="<{:U('forgetPass')}>" > 忘记密码? </a> </p>
      </div>
    </div>
    <!-- /.modal-content --> 
    </form>
  </div>
  <!-- /.modal-dialog --> 
  
</div>
<!-- /.Modal Login --> 

<!-- Modal Signup start -->
<div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h3 class="modal-title-site text-center" > 注册 </h3>
      </div>
      <div class="modal-body">
        <form action="__MODULE__/Login/mobilecheckEmail" method="post" name="regist-by-email">
        <div class="form-group reg-username">
          <div >
            <input name="email" id="email"  class="form-control input"  size="20" placeholder="邮箱地址" type="text">
          </div>
        </div>
        <div class="form-group reg-email">
          <div >
            <input name="password" id="email-pwd" class="form-control input"  size="20" placeholder="密码(长度为8到16个字符，至少包含两种类型)" type="password">
          </div>
        </div>
        <div class="form-group reg-password">
          <div >
            <input type="password" name="repassword"  class="form-control input"  size="20" placeholder="重复密码">
          </div>
        </div>
        <div >
          <div >
            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="注册" type="submit">
          </div>
        </div>
        <!--userForm--> 
      </form>
      </div>
      <div class="modal-footer">
        <p class="text-center"> 已经注册? <a data-toggle="modal"  data-dismiss="modal" href="#ModalLogin"> 点击登录 </a> </p>
      </div>
    </div>
    <!-- /.modal-content --> 
    
  </div>
  <!-- /.modal-dialog --> 
  
</div>
<!-- /.ModalSignup End --> 

<!-- Fixed navbar start -->
<php>
$tel=C('sy_webtel');
$logo=C('logo6');
</php>
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
  <div class="navbar-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
          <div class="pull-left ">
            <ul class="userMenu ">
              <li class="phone-number"> <a href="tel:<{$tel}>"> <span> <i class="glyphicon glyphicon-phone-alt "></i></span></a> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
          <div class="pull-right">
            <ul class="userMenu">
              <{:W('Login/topmobileLogin')}>
              <!-- <li> <a href="account-1.html"><i class="glyphicon glyphicon-user hide visible-xs "></i></a> </li> -->
              <!-- <li> <a href="#"  data-toggle="modal" data-target="#ModalLogin"><i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a> </li>
              <li> <a href="#"  data-toggle="modal" data-target="#ModalSignup"><i class="glyphicon glyphicon-cloud-upload hide visible-xs "></i></a> </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.navbar-top-->
  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
      <a class="navbar-brand " href="<{:U('Mobileindex/mobileindex')}>"> <img src="<{$logo}>" alt="TSHOP"> </a> 
    </div>
    
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"> <a href="<{:U('Mobileindex/mobileindex')}>"> 首页 </a> </li>
        <li class="dropdown megamenu-fullwidth"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> 商城 <b class="caret"> </b> </a>
          <ul class="dropdown-menu">
            <li class="megamenu-content ">
              <!-- <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                <li> <a href="category.html"> 旗舰店 </a> </li>
                <li> <a href="category.html"> 聚抢购 </a> </li>
              </ul> -->
              <ul class="col-lg-3  col-sm-3 col-md-3  col-xs-4">
                <li> <a class="newProductMenuBlock" href="<{:U('Mobileproduct/productList',array('type'=>shop,'cat'=>all))}>"> <img class="img-responsive" src="<{$navlist[2][image]}>" alt="<{$navlist[0][nav_title]}>"> <span class="ProductMenuCaption"> <i class="fa fa-caret-right"> </i> <{$navlist[2][nav_title]}> </span> </a> </li>
              </ul>
              <ul class="col-lg-3  col-sm-3 col-md-3 col-xs-4">
                <li> <a class="newProductMenuBlock" href="<{:U('Mobileproduct/promoteList')}>"> <img class="img-responsive" src="<{$navlist[3][image]}>" alt="<{$navlist[3][nav_title]}>"> <span class="ProductMenuCaption"> <i class="fa fa-caret-right"> </i> <{$navlist[3][nav_title]}> </span> </a> </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      
    </div>
    <!--/.nav-collapse --> 
    
  </div>
  <!--/.container -->

</div>
<!-- /.Fixed navbar  -->

<block name="publicBody">

</block>

<footer>
  <php>
            $mail=C('sy_webemail');
            $tel=C('sy_webtel');
            $freetel=C('sy_freewebtel');
            $work_time=C('work_time');
  </php>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
          <h3> 联系我们 </h3>
          <ul>
            <li class="supportLi">
              <h4> <a class="inline" href="tel:<{$tel}>"> <strong> <i class="fa fa-phone"> </i> <{$tel}> </strong> </a> </h4>
              <h4> <a class="inline" href="mailto:<{$mail}>"> <i class="fa fa-envelope-o"> </i> <{$mail}></a> </h4>
            </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> 巨若商城 </h3>
          <ul>
            <li> <a href="<{:U('Mobileindex/mobileindex')}>"> 首页 </a> </li>
            <li> <a href="category.html"> 旗舰店 </a> </li>
            <li> <a href="sub-category.html"> 聚抢购 </a> </li>
          </ul>
        </div>

        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> 我的账户 </h3>
          <ul>
            <li> <a href="#" data-toggle="modal" data-target="#ModalLogin"> 登录 </a> </li>
            <li> <a href="<{:U('MobileMember/member')}>"> 个人中心 </a> </li>
            <li> <a href="<{:U('MobileOrder/orderList')}>"> 交易记录 </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row--> 
    </div>
    <!--/.container--> 
  </div>
  <!--/.footer-->
  <php>
    $right=C('sy_webcopyright');
     $ICP=C('sy_webrecor');
  </php>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> <{$right}>&nbsp;&nbsp;&nbsp;&nbsp;ICP备案号：<{$ICP}></p>
      <div class="pull-right paymentMethodImg"> <img height="30" class="pull-right" src="__PUBLIC__/Mobile/images/site/payment/123.png" alt="img" > <img height="30" class="pull-right" src="__PUBLIC__/Mobile/images/site/payment/124.png" alt="img" > </div>
    </div>
  </div>
  <!--/.footer-bottom--> 
</footer>
</body>
<!-- Le javascript
================================================== --> 
<block name="bottomJsFile">

</block>
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/Mobile/assets/bootstrap/js/bootstrap.min.js"></script> 






<!-- include  parallax plugin --> 
<script type="text/javascript"  src="__PUBLIC__/Mobile/assets/js/jquery.parallax-1.1.js"></script> 

<!-- optionally include helper plugins --> 
<script type="text/javascript"  src="__PUBLIC__/Mobile/assets/js/helper-plugins/jquery.mousewheel.min.js"></script> 

<!-- include mCustomScrollbar plugin //Custom Scrollbar  --> 

<script type="text/javascript" src="__PUBLIC__/Mobile/assets/js/jquery.mCustomScrollbar.js"></script> 

<!-- include checkRadio plugin //Custom check & Radio  --> 
<script type="text/javascript" src="__PUBLIC__/Mobile/assets/js/ion-checkRadio/ion.checkRadio.min.js"></script> 

<!-- include grid.js // for equal Div height  --> 
<script src="__PUBLIC__/Mobile/assets/js/grids.js"></script> 

<!-- include carousel slider plugin  --> 
<script src="__PUBLIC__/Mobile/assets/js/owl.carousel.min.js"></script> 

<!-- jQuery minimalect // custom select   --> 
<script src="__PUBLIC__/Mobile/assets/js/jquery.minimalect.min.js"></script> 

<!-- include touchspin.js // touch friendly input spinner component   --> 
<script src="__PUBLIC__/Mobile/assets/js/bootstrap.touchspin.js"></script> 

<!-- include custom script for site  --> 
<script src="__PUBLIC__/Mobile/assets/js/script.js"></script>


</html>
