*{
    padding:0;
    margin:0;
}
html{
    background:#fafafa;
    margin: 0 auto;
    min-width:800px;
}
.title{
    height:30px;
    width:90%;
    font-size:26px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom: 20px;
}
.service-list-box{

    margin: 0 auto;

    width:90%;
    height:auto;
    padding-top:5px;
    padding-bottom:5px;
    background:#fff;
}
.province-list, .city-list{
    list-style-type:none;
    overflow: hidden;
    zoom: 1;
}
.province-list a, .city-list a{
    display: block;
    height: 30px;
    min-width:4%;
    text-align: center;
    line-height: 26px;
    float: left;
    text-decoration:none;
    outline:none;
    padding-left:5px;
    padding-right:5px;
}
.aline{
    background: #fff;
    color: #75ddff;
    border-bottom: 1px dashed #75ddff;
    margin:0 auto;
    width:88%;
    height: auto;
    margin-top:-1px;

}
.color{
    background: #75ddff;
    color:#fff;
}

/*地图和地址*/
.address_info{
    width:90%;
    height:auto;
    margin:0 auto;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 2px #000;
    overflow:hidden;
    zoom: 1;
    padding:5px;
}
/*地图*/
#map{
    float: left;
    width:60%;
    height:auto;
}
#container,#PanoCtn{

    height:320px;
    background: lightcyan;
}
.address{
    float:right;
    width:37%;
    height:auto;

}
.address_one{
    padding-left: 5px;
    margin-bottom: 10px;
    height:auto;
    border:1px solid rgba(211, 211, 211, 0.38);
    box-shadow:0 1px 2px rgba(211, 211, 211, 0.38)

}
.address_one:hover{
    background: rgba(82, 147, 255, 0.05);margin-bottom: 10px;
    cursor:pointer;

}


