<extend name="Public:public" />
<!-- ====================== 自定义CSS文件 部分 =============== -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/regist.email.css">
</block>
<!-- ====================== 自定义CSS文件 结束 =============== -->

<!-- ====================== 主体部分 开始 ==================== -->
<block name="publicBody">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 main-box">
                <div class="media" style="margin:0 auto; width:60%; margin-top:50px; margin-bottom:50px;">
                    <a class="media-left" href="#">
                        <img src="__PUBLIC__/Home/images/reg_error.png" />
                    </a>
                    <div class="media-body">
                        <h2 class="media-heading" style="margin-top:7px;"><{$tipMsg}>！</h2>
                    </div>
                    <!-- <p style="padding-left:75px; font-size:12px; color:#aaa; line-height:25px;">请<a href="#" id="re">点击这里</a>系统将重新发送邮件信息</p> -->
                    <php>
                        dump($userEmail);
                        dump($codePass);
                        dump($getInsertID);
                        die;
                    </php>
                    <p style="padding-left:75px; font-size:12px; color:#aaa; line-height:25px;">点击<a href="javascript:void(0)" userEmail="<{$userEmail}>" codePass="<{$codePass}>" getInsertID="<{$getInsertID}>" id="re_send" style="font-size:13px;color:#09f;"><span>系统将重新发送邮件信息</span></a></p>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- ====================== 主体部分 结束 ==================== -->

<!-- ====================== js文件部分 开始 ==================== -->
<block name="bottomJsFile">
    <script>
        $('#re_send').click(function(){
        var email = $(this).attr('userEmail');
        var getInsertID = $(this).attr('getInsertID');
        var codePass = $(this).attr('codePass');
        var data = {'email':email,'getInsertID':getInsertID,'codePass':codePass};
        $.post('__CONTROLLER__/resendEmail/',data, function (d){
            if (d)
            {
                $('<span id="aflterR" style="color:#ccc;"> 邮件已发送<em id="reSend">120</em></span>').replaceAll('#re_send');

                var timer = null;

                timer = setInterval(function (){
                    var newInner = parseInt($('#reSend').html()) - 1;
                    $('#reSend').html(newInner);

                    if (newInner == 0)
                    {
                        clearInterval(timer);
                        $('<a href="javascript:void(0)" userEmail="<{$userEmail}>" id="re_send" style="font-size:13px;color:#09f;"><span>重新发送激活邮件</span></a>').replaceAll('#afterR');
                    }
                }, 1000);
            }
            else
            {
                $('<span id="aflterR" style="color:#ccc;"> 邮件发送失败 </span>').replaceAll('#re_send');
            }
        });
        })
    </script>
</block>
<!-- ====================== js文件部分 结束 ==================== -->