<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮箱找回密码</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/user.public.css"> -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/user.login.css">
    <!-- <link href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <php>
             $logo2=C('logo2');
        </php>
        <div class="row">
            <div class="col-md-12 logo"><a href="__APP__"><img src="<{$logo2}>" alt=""></a></div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 main">
                <div class="cloud"></div>
                <div class="regist-to-login">
                    <a href="<{:U('Login/getBackPassword')}>">找回密码</a>
                </div>
                <form action="__CONTROLLER__/checkPwdcode" method="post" class="bs-example tooltip-demo" name="login-form">
                    <input type="hidden" value="<{$email}>" name="email" />
                    <div class="regist-way">
                        <h3 class="welcome-back" style="text-align: left;"><{$tipMsg}>(<span id="time"></span>)</h3>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg txt-input" data-trigger="focus" name="code" id="code" placeholder="邮件中的验证码" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="请填写邮件中的验证码" />
                        <span></span>
                    </div>
                    <div class="regist-way">
                        <input type="submit" class="btn btn-info btn-input btninput1" value="确认发送">
                         <input type="button" style="display:none;" class="btn btn-info btn-input btninput2" value="返回重试">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Home/js/docs.js"></script>
<script src="__PUBLIC__/Home/js/h.js"></script>
<script src="__PUBLIC__/Home/js/ie10-viewport-bug-workaround.js"></script>
<script src="__PUBLIC__/Home/js/ie-emulation-modes-warning.js"></script>
<script>
    var time= 120;

    var timer = setInterval(function(){
        $('#time').html(time+'秒');
        time--;
        if (time == -1){
            clearInterval(timer);
            $('#code').attr('disabled','disabled');
            $('.btninput1').css('display','none');
            $('.btninput2').css('display','block');
            }
                }, 1000);

    $('#code').blur(function () {
        checkUserName(this);
    });

    $('form[name="login-form"]').submit(function (){
        var uNameValue = $('#code')[0];

        if (checkUserName(uNameValue))
        {
            return true;
        }
        return false;
    });


    // 验证用户账户
    function checkUserName(obj) 
    {
        var v = $(obj).val();
        var oSpan = $(obj).next('span');
        var bool = false;
        if (v.length < 4 || v.length > 5)
        {
            oSpan.html('验证码长度不合法').css({'font-size':'12px', 'color':'red'});
            return false;
        }
        else
        {
            oSpan.html('验证码合法').css({'font-size':'12px', 'color':'green'});
            return true;
        }
        return bool;
    }

    $('.btninput2').click(function(){
        var _url='<{:U("Login/getBackPassword")}>'
        window.location.href=_url;
    })
</script>
</html>