<li class="dropdown" id="menu-messages">
    <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle">
        <i class="icon icon-envelope"></i> 
        <span class="text">留言箱</span> 
        <span class="badge badge-important messagetotal"></span> 
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a target="_blank" class="sAdd" title="" href="<{:U('Feedback/indexContact')}>"><i class="icon-plus"></i> 首页留言 <span class="badge badge-warning" id="indexfeedbackspan"></span></a></li>
        <li class="divider"></li>
        <li><a target="_blank" class="sInbox" title="" href="<{:U('Feedback/index')}>"><i class="icon-envelope"></i> 商城留言 <span class="badge badge-important" id="feedbackspan"></span></a></li>
        <li class="divider"></li>
        <li><a target="_blank" class="sOutbox" title="" href="<{:U('Product/productList')}>"><i class="icon-arrow-up"></i> 商品评论 <span class="badge badge-info" id="productfeedbackspan"></span></a></li>
    </ul>
</li>