<!--sidebar-menu-->
<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i> 系统后台</a>
    <ul>
        <li id="indexmune" class="active"><a href="<{:U('Index/index')}>"><i class="icon icon-home"></i> <span>后台首页</span></a></li>
        <li class="submenu"><a href="###"><i class="icon icon-signal"></i> <span>系统管理</span></a>
            <ul>
                <li><a class="menua" href="<{:U('SystemConfig/webConfig')}>">网站配置</a></li>
                <li><a class="menua" href="<{:U('Administrator/index')}>">系统管理员</a></li>
                <li><a class="menua" href="<{:U('Role/index')}>">角色配置</a></li>
                <li><a class="menua" href="<{:U('Auth/index')}>">权限设置</a></li>
                <li><a class="menua" href="<{:U('Email/index')}>">邮件配置</a></li>
                <li><a class="menua" href="<{:U('Sms/index')}>">短信配置</a></li>
                <li><a class="menua" href="<{:U('Pay/index')}>">支付管理</a></li>
                <li><a class="menua" href="<{:U('Shipping/index')}>">物流管理</a></li>
                <li><a class="menua" href="<{:U('Seo/seoList')}>">SEO优化</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="widgets.html"><i class="icon  icon-italic"></i> <span>首页管理</span></a>
            <ul>
                <li><a class="menua" href="<{:U('Indexs/index')}>">首页焦点图</a></li>
                <li><a class="menua" href="<{:U('Indexs/aboutList')}>">关于我们(三宫格)</a></li>
                <li><a class="menua" href="<{:U('Indexs/newsManager')}>">新闻管理</a></li>
                <li><a class="menua" href="<{:U('Indexs/blogList')}>">博文管理</a></li>
                <li><a class="menua" href="<{:U('Indexs/goodsList')}>">产品管理</a></li>
                <li><a class="menua" href="<{:U('Indexs/linksmanager')}>">友情链接</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="widgets.html"><i class="icon icon-inbox"></i> <span>用户管理</span></a>
            <ul>
                <li><a class="menua" href="<{:U('User/index')}>">会员列表</a></li>
                <li><a class="menua" href="<{:U('Feedback/index')}>">商城留言</a></li>
                <li><a class="menua" href="<{:U('Feedback/indexContact')}>">首页留言</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="widgets.html"><i class="icon icon-shopping-cart"></i> <span>商品管理</span></a>
            <ul>
                <!-- <li><a class="menua" href="<{:U('Product/productType')}>">商品类型</a></li> -->
                <li><a class="menua" href="<{:U('Product/productCats')}>">商品分类</a></li>
                <li><a class="menua" href="<{:U('Product/productList')}>">商品列表</a></li>
                <li><a class="menua" href="<{:U('Product/productAdd')}>">添加商品</a></li>
                <li><a class="menua" href="<{:U('Product/productRecycle')}>">商品回收站</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="tables.html"><i class="icon icon-th"></i> <span>订单详情</span></a>
            <ul>
                <li><a class="menua" href="<{:U('OrderInfo/index')}>">订单列表</a></li>
                <li><a class="menua" href="<{:U('OrderInfo/invalidOrder')}>">无效订单</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="grid.html"><i class="icon icon-fullscreen"></i><span>广告管理</span></a>
            <ul>
                <li><a class="menua" href="<{:U('AdvPosition/advManager')}>">广告管理</a></li>
            </ul>
        </li>
        <li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>售后管理</span></a>
            <ul>
                <li><a class="menua" href="<{:U('SaleService/returnProduct')}>">退货商品</a></li>
                <li><a class="menua" href="<{:U('SaleService/changeProduct')}>">换货商品</a></li>
                <!-- <li><a class="menua" href="<{:U('SaleService/repareProduct')}>">维修商品</a></li> -->
               <!--  <li><a class="menua" href="<{:U('SupportDown/fileList')}>">相关下载</a></li> -->
                <!--  <li><a href="form-wizard.html">产品注册</a></li> -->
            </ul>
        </li>
        <li class="submenu"><a href="widgets.html"><i class="icon icon-inbox"></i> <span>服务管理</span></a>
            <ul>
                <li><a class="menua" href="<{:U('Support/aboutUs')}>">关于滇晟</a></li>
                <li><a class="menua" href="<{:U('SupportDown/fileList')}>">相关下载</a></li>
                <li><a class="menua" href="<{:U('Faq/articleList')}>">常见问题</a></li>
                <li><a class="menua" href="<{:U('Support/policy')}>">法律声明</a></li>
                <li><a class="menua" href="<{:U('SupportArticles/articleList')}>">服务政策</a></li>
                <li><a class="menua" href="<{:U('Support/servicepolicy')}>">注册协议</a></li>
                <li><a class="menua" href="<{:U('Video/setVideo')}>">视频管理</a></li>
                <li><a class="menua" href="<{:U('SupportMap/index')}>">网点管理</a></li>
                <li><a class="menua" href="<{:U('Job/index')}>">招聘管理</a></li>
            </ul>
        </li>
        <!-- <li class="submenu"> <a href="#"><i class="icon icon-asterisk"></i> <span>人才招聘</span> <span class="label label-important">4</span></a>
            <ul>
                <li><a class="menua" href="<{:U('Job/index')}>">招聘列表</a></li>
                <li><a class="menua" href="<{:U('Job/addJob')}>">添加职位</a></li>
                <li><a class="menua" href="<{:U('Job/catIndex')}>">类别列表</a></li>
                <li><a class="menua" href="<{:U('Job/addCat')}>">添加类别</a></li>
                <li><a class="menua" href="<{:U('Job/applyIndex')}>">求职信息</a></li>
            </ul>
        </li> -->
        <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>网站工具</span> 
           <!--  <span class="label label-important">5</span> -->
        </a>
              <ul>
                <li><a class="menua" href="<{:U('Log/index')}>">后台日志</a></li>
                <li><a class="menua" href="<{:U('Keywords/index')}>">热搜词管理</a></li>
                <li><a class="menua" href="<{:U('Backup/index')}>">数据库</a></li>
                <!-- <li><a class="menua" href="<{:U('Archives/index')}>">网站单页</a></li> -->
              </ul>
        </li>
        <li class="content"> <span>Monthly Bandwidth Transfer</span>
            <div class="progress progress-mini progress-danger active progress-striped">
                <div style="width: 77%;" class="bar"></div>
            </div>
            <span class="percent">77%</span>
            <div class="stat">21419.94 / 14000 MB</div>
        </li>
        <li class="content"> <span>Disk Space Usage</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 87%;" class="bar"></div>
            </div>
            <span class="percent">87%</span>
            <div class="stat">604.44 / 4000 MB</div>
        </li>
    </ul>
</div>
<!--sidebar-menu-->