<li  class="dropdown" id="profile-messages" >
    <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle">
        <i class="icon icon-user"></i>
        <span class="text"><{$indexusername}></span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="<{:U('Administrator/index')}>"><i class="icon-user"></i> 个人资料 </a></li>
        <li class="divider"></li>
        <li><a href="<{:U('Login/logOut')}>"><i class="icon-key"></i> 退出 </a></li>
    </ul>
</li>