<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
    <link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        th.list-title {
            font-size:14px;
        }
        td.align-center {
            text-align:center;
        }
    </style>
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb"> 
        <a href="__APP__" title="返回系统首页" class="tip-bottom">
            <i class="icon-home"></i> 
        管理首页</a> 
        <a href="#" class="current">系统设置</a>
        <a href="#" class="current">权限设置</a>
    </div>
    <h1 style="margin-top:10px;">添加权限</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
        <hr style="margin:0;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
                        <h5>添加权限</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal" method="post" action="<{:U('doAuthAdd')}>" name="useradd" id="useradd" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label">权限规则标识：</label>
                                <div class="controls">
                                    <input type="text" name="name" class="tip-right" data-original-title="请输入权限对应模块与方法名" id="name" />
                                    <span id="checkU" available='0'></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">规则描述：</label>
                                <div class="controls">
                                    <input type="text" name="title" class="tip-right" data-original-title="请对权限做出一个简短描述
                                    (20字以内)" id="title" />
                                    <span id="span"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">附加条件：</label>
                                <div class="controls">
                                    <input type="text" name="condition" id="condition" class="tip-right" data-original-title="如有特殊条件请填写，若无可空置" >
                                    <span></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">选择权限模块：</label>
                                <div class="controls">
                                    <select name="pid" style="width:220px;">
                                         <volist name="modules" id="vo">
                                            <option value="<{$vo.id}>"><{$vo.modulename}></option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                          <div class="form-actions">
                            <input type="submit" value=" 添加 " class="btn btn-primary" style="margin-left:179px; margin-right:30px;">
                            <a href="__CONTROLLER__/index" class="btn btn-default">返回列表</a>
                          </div>
                        </form>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
    <script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
    <script src="__PUBLIC__/Admin/js/jquery.validate.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.js"></script> 
    <script src="__PUBLIC__/Admin/js/matrix.form_validation.js"></script>
    <script src="__PUBLIC__/Admin/js/muneopen.js"></script> 
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
    <script>

        // 验证用户名
        $(function (){
            $('#name').blur(function (){
                checkname(this);
            });

            $('#title').blur(function (){
                checkTitle(this);
            });

            $('form#useradd').submit(function () {
                var objname = $('#name')[0];
                var isUserTure = false;
                checkname(objname);

                if ($('#checkU').attr('available') != 1)
                {
                    $('#checkU').html('请填写合法用户名').css({'font-size':'12px', 'color':'red'});
                    return false;
                }
                else
                {
                    isUserTure = true;
                }

                var objTitle =$.trim($('#title').val());
                if (objname && objTitle)
                {
                    return true;
                }else{
                return false;
                }
            });

        });

        function checkTitle(obj)
        {
            var txtVal =$.trim($(obj).val());
            var oSpan = $(obj).next('span');
            var bool =false;

            if (txtVal.length == 0)
            {
                $(oSpan).html('权限描述不能为空').css({'font-size':'12px', 'color':'red'});
            }else{
                $(oSpan).html('权限描述可用').css({'font-size':'12px', 'color':'green'});
                bool = true;
            }
            return bool;
        }

        // 用户名验证方法
        function checkname (obj) 
        {
            var txtVal = $.trim($(obj).val());
            var oTips = $(obj).next('span');
            var pre=/^[a-zA-Z/_]*$/i;
            var bool = false;
            if (txtVal.length == 0)
            {
                oTips.html('权限标识不能为空').css({'font-size':'12px', 'color':'red'});
                oTips.attr('available', '0');
                return false;
            }
            else if (!pre.test(txtVal)){
                oTips.html('权限标识不能使用中文或_之外的符号').css({'font-size':'12px', 'color':'red'});
                oTips.attr('available', '0');
                return false;
            }else{
                // Ajax请求数据库验证
                $.get('__CONTROLLER__/checkAuthExists', {'name': txtVal}, function (d) {
                    if (d !=0)
                    {
                        oTips.html('用户名可用').css({'font-size':'12px', 'color':'green'});
                        oTips.attr('available', '1');
                    }
                    else
                    {
                        oTips.html('用户名被占用').css({'font-size':'12px', 'color':'red'});
                        oTips.attr('available', '0');
                    }
                });
            }
        }
    </script>
</block>
<!-- 底部JS执行区域 结束 -->
