.banner {
    height:220px;
    background:#168CD2 url(../images/sp-high-banner.jpg) no-repeat center -20px;
}
.main {
    padding-top:10px;
    padding-bottom:30px;
}
.head-title {
    margin-top:30px; 
    margin-bottom:20px;
    color:#00acff;
}
.search-area {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    background:#fff;
    padding:50px 50px 20px 50px;
}
.search-result {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom:1px solid #ededed;
    background:#fff;
    padding:0 50px 50px;
}
.search-txt {
    background:#fafafa;
}
.nav a {
    font-size:13px;
    color:#999;
}
.nav a:hover {
    color:#000;
    text-decoration:none;
}
table {
    font-family:"Hiragino Sans GB","helvetica","microsoft yahei";
    margin-bottom:30px;
}
.product-image-area {
    width:100px;
    height:100px;
}
.product-image-area img {
    width:100px;
    height:100px;
}
.product-name-area h3 a {
    font-size: 18px;
}
.product-name-area span {
    color:#999;
}
.product-price-area {
    width:200px;
    text-align:center;
    vertical-align:middle;
}
.product-price-area strong {
    line-height:100px;
    font-size:20px;
    color:red;
}
.product-price-area span {
    font-size:20px;
    color:red;
    padding-top:20px;
    display:block;
}
.product-price-area del {
    font-size:14px;
    color:#aaa;
}
/*.product-price-area span {
    font-size:20px;
    line-height:55px;
}
.product-price-area del {
    color:#aaa;
    font-size:15px;
    line-height:35px;
}*/
a.view-more {
    margin-top:35px;
}
.product-link-area {
    width:100px;
}
a.check-more {
    color:#999;
}
.search-news-title a {
    font-size:16px;
    color:#666;
    line-height:50px;
    font-family:"Hiragino Sans GB","helvetica","microsoft yahei";
}
.search-news-title a:hover {
    text-decoration:none;
    color:#00acff;
}
.search-news-link a {
    margin-top:8px;
    font-family:"Hiragino Sans GB","helvetica","microsoft yahei";
}
.space-bar {
    height:30px;
}
.search-video-list {
    margin-top:20px;
}
#fullbg { 
    background-color:#333; 
    left:0; 
    opacity:0.5; 
    position:absolute; 
    top:0; 
    z-index:3; 
    filter:alpha(opacity=50); 
    -moz-opacity:0.7; 
    -khtml-opacity:0.7; 
    z-index:8000;
} 
#dialog { 
    background-color:#fff; 
    width:740px;
    height:500px; 
    left:50%; 
    margin:-270px 0 0 -370px; 
    padding:20px; 
    position:fixed !important; /* 浮动对话框 */ 
    position:absolute; 
    top:50%; 
    z-index:9999; 
    border-radius:5px; 
    box-shadow:0 0 1px 1px #fff;
    display:none; 
} 
#dialog div.box-header { 
    margin:0 0 12px; 
    height:24px; 
    line-height:24px; 
    border-bottom:1px solid #ededed;
} 
#dialog div.box-header h4 { 
    font-size:14px;
    color:#00acff;
    line-height:20px;
    padding-bottom:10px;
} 