<extend name="Public:mobilepublic" />

<block name="cssFile">
</block>
<block name="publicBody">


<div class="container main-container headerOffset"> 
  
  <!-- Main component call to action -->
  <php>
    $cat=I('get.cat');
  </php>
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li> <a href="<{:U('Mobileproduct/productList',array('type'=>shop,'cat'=>all))}>"><{$navlist[4][nav_title]}></a> </li>
        <li class="active"><if condition="$cat eq 'all'">全部<else /><{$cat}></if></li>
      </ul>
    </div>
  </div>
  <!-- /.row  -->
  
  <div class="row"> 
    
    <!--left column-->
    
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="panel-group" id="accordionNo"> 
        <!--Category-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse"  href="#collapseCategory" class="collapseWill"> <span class="pull-left"> <i class="fa fa-caret-right"></i></span> 分类 </a> </h4>
          </div>
          <div id="collapseCategory" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked tree">

                <volist name="Cats" id="Cat">
                <li class="active dropdown-tree open-tree" > <a  class="dropdown-tree-a" > <{$Cat.cat_name}> </a>
                  <notempty name="Cat['children']">
                    <ul class="category-level-2 dropdown-menu-tree">
                    <volist name="Cat['children']" id="subcat">
                    <li class="dropdown-tree"> <a class="dropdown-tree-a"  href="<{:U('Mobileproduct/productList',array('type'=>'shop','cat'=>$subcat['cat_name'],'scroll'=>1))}>"> <{$subcat.cat_name}></a> </li>
                    </volist>
                    </ul>
                  </notempty>
                </li>
                </volist>

                <li> <a href="<{:U('productList',array('type'=>'shop','cat'=>'all','scroll'=>1))}>"><i>全部商品</i></a></li>
                <li> <a href="<{:U('productList',array('type'=>'shop','cat'=>$cat,'scroll'=>1))}>"><i>全部<if condition="$cat eq 'all'"><else /><{$cat}></if></i></a>  </li>
                <li> <a href="<{:U('productList',array('type'=>'shop','cat'=>$cat,'by'=>'new','scroll'=>1))}>"><i>最新</i></a></li>
                <li> <a href="<{:U('productList',array('type'=>'shop','cat'=>$cat,'by'=>'promote','scroll'=>1))}>"><i>活动</i></a></li>
                <li> <a href="<{:U('productList',array('type'=>'shop','cat'=>$cat,'by'=>'pricedown','scroll'=>1))}>"><i>价格从高到低</i></a></li>
                <li> <a href="<{:U('productList',array('type'=>'shop','cat'=>$cat,'by'=>'priceup','scroll'=>1))}>"><i>价格从低到高</i></a></li>
                <li> <a href="<{:U('productList',array('type'=>'shop','cat'=>$cat,'by'=>'time','scroll'=>1))}>"><i>发布时间</i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/Category menu end-->

      </div>
    </div>

    <!--right column-->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="w100 clearfix category-top">
        <h2><if condition="$cat eq 'all'"><else /><{$cat}></if> </h2>
      </div>

      <div class="w100 productFilter clearfix">
        <p class="pull-left"> 共 <strong><{$counts}></strong> 件商品 </p>
        <div class="pull-right ">
          <div class="change-view pull-right"> <a href="#" title="Grid" class="grid-view"> <i class="fa fa-th-large"></i> </a> <a href="#" title="List" class="list-view "><i class="fa fa-th-list"></i></a> </div>
        </div>
      </div>
      <!--/.productFilter-->
      <div class="row  categoryProduct xsResponse clearfix">
        <foreach name="productList" item="pro">
        <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
          <div class="product">
          

            <div class="image">
          <a href="<{:U('Mobileproductdetail/detail',array('id'=>$pro['id']))}>"><img src="__PUBLIC__/Product/thumb/<{$pro.list_image}>" alt="img" class="img-responsive"></a>
              <div class="promotion">
              <if condition="$pro.is_new eq 1">
                            <span class="new-product">新品</span> 
                        </if>
                            <if condition="$pro.is_promote eq 1">
                            <span class="discount">活动</span>
                        </if> 
                 </div>
            </div>
            <div class="description">
              <h4><a href="<{:U('Mobileproductdetail/detail',array('id'=>$pro['id']))}>"><{$pro.pro_name}></a></h4>
              <div class="grid-description">
                <p><{$pro.pro_subname}></p>
              </div>
              <div class="list-description">
                <p> <{$pro.description}> </p>
              </div>
              <span class="size"><b>¥</b><del><{$pro.market_price}></del></span> </div>
            <div class="price"> <span><b>¥</b><{$pro.promote_price}></span></div>
            <div class="action-control"> <a href="<{:U('Mobileproductdetail/detail',array('id'=>$pro['id']))}>" class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> 查看详情 </span> </a> </div>
          </div>
        </div>
        <!--/.item-->
        </foreach>
      </div>
      <!--/.categoryProduct || product content end-->
      
      <div class="w100 categoryFooter">
        <div class="pagination pull-left no-margin-top">
          <{$page}>
          <!-- <ul class="pagination no-margin-top">
            <li> <a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li> <a href="#">2</a></li>
            <li> <a href="#">3</a></li>
            <li> <a href="#">4</a></li>
            <li> <a href="#">5</a></li>
            <li> <a href="#">»</a></li>
          </ul> -->
        </div>
      </div>
      <!--/.categoryFooter--> 
    </div>
    <!--/right column end--> 
  </div>
  <!-- /.row  --> 
</div>
<!-- /main container -->

<div class="gap"> </div>
   <!-- Product Details Modal  -->
    <div class="modal fade" id="product-details-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> × </button>
                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">

                    <!-- product Image -->

                    <div class="main-image  col-lg-12 no-padding style3">
                        <a class="product-largeimg-link" href="product-details.html"><img src="__PUBLIC__/Mobile/images/zoom/zoom1.jpg" class="img-responsive product-largeimg" alt="img">
                        </a>
                    </div>
                    <!--/.main-image-->
                    
                    <div class="modal-product-thumb">
                        <a class="thumbLink selected"><img data-large="__PUBLIC__/Mobile/images/zoom/zoom1.jpg" alt="img" class="img-responsive" src="__PUBLIC__/Mobile/images/zoom/zoom1.jpg">
                        </a>
                        <a class="thumbLink"><img data-large="__PUBLIC__/Mobile/images/zoom/zoom2.jpg" alt="img" class="img-responsive" src="__PUBLIC__/Mobile/images/zoom/zoom2.jpg">
                        </a>
                        <a class="thumbLink"><img data-large="__PUBLIC__/Mobile/images/zoom/zoom3.jpg" alt="img" class="img-responsive" src="__PUBLIC__/Mobile/images/zoom/zoom3.jpg">
                        </a>
                    </div> <!--/.modal-product-thumb-->
                </div> <!--/ product Image-->
               
                
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 modal-details no-padding">
                    <div class="modal-details-inner">
                        <h1 class="product-title"> Lorem ipsum dolor sit amet</h1>
                        <h3 class="product-code">Product Code : DEN1098</h3>
                        <div class="product-price"> <span class="price-sales"> $70</span> <span class="price-standard">$95</span> </div>
                        <div class="details-description">
                            <p>In scelerisque libero ut elit porttitor commodo Suspendisse laoreet magna. </p>
                        </div>
                        <div class="color-details"> <span class="selected-color"><strong>COLOR</strong></span>
                            <ul class="swatches Color">
                                <li class="selected">
                                    <a style="background-color:#f1f40e"> </a>
                                </li>
                                <li>
                                    <a style="background-color:#adadad"> </a>
                                </li>
                                <li>
                                    <a style="background-color:#4EC67F"> </a>
                                </li>
                            </ul>
                        </div>
                        <!--/.color-details-->

                        <div class="productFilter productFilterLook2">
                            <div class="filterBox">
                                <select>
                                    <option value="strawberries" selected>Quantity</option>
                                    <option value="mango">1</option>
                                    <option value="bananas">2</option>
                                    <option value="watermelon">3</option>
                                    <option value="grapes">4</option>
                                    <option value="oranges">5</option>
                                    <option value="pineapple">6</option>
                                    <option value="peaches">7</option>
                                    <option value="cherries">8</option>
                                </select>
                            </div>
                            <div class="filterBox">
                                <select>
                                    <option value="strawberries" selected>Size</option>
                                    <option value="mango">XL</option>
                                    <option value="bananas">XXL</option>
                                    <option value="watermelon">M</option>
                                    <option value="apples">L</option>
                                    <option value="apples">S</option>
                                </select>
                            </div>
                        </div>
                        <!-- productFilter -->

                        <div class="cart-actions">
                            <div class="addto">
                                <button onclick="productAddToCartForm.submit(this);" class="button btn-cart cart first" title="Add to Cart" type="button">Add to Cart</button>
                                <a class="link-wishlist wishlist">Add to Wishlist</a> </div>
                        </div>
                        <!--/.cart-actions-->

                        <div class="product-share clearfix">
                            <p> SHARE </p>
                            <div class="socialIcon">
                                <a href="#"> <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#"> <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#"> <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#"> <i class="fa fa-pinterest"></i>
                                </a>
                            </div>
                        </div>
                        <!--/.product-share-->
                    </div><!--/.modal-details-inner-->
                </div>
                <!--/.modal-details-->
                <div class="clear"></div>
            </div><!--/.modal-content-->
        </div><!--/.modal-content-->
    </div>
    <!-- End Modal -->



<block name="bottomJsFile">
 
	<script type="text/javascript" src="__PUBLIC__/Mobile/assets/js/jquery/1.8.3/jquery.js"></script> 
</block>


</block>