<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻中心</title>
    <meta name="Keywords" content="新闻中心,智能手机,拍照手机,努比亚手机,nubia Z7,nubia Z7 Max,nubia Z7 mini,nubia X6">
    <meta name="Description" content="作为全球高端智能手机提供商，努比亚官网为您提供nubia Z7, nubia Z7 Max, nubia Z7 mini, nubia X6等产品介绍及在线购买">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/news-index.css">
    <!-- <link href="//libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<body>
    <!-- TOP AND MENU START -->
    <div class="top">
        <div class="bar">
            <div class="container">
                <div class="top-bar-image"><img src="__PUBLIC__/Home/images/top-bar-word.png" alt=""></div>
                <div class="pull-right text-right welcome">
                    <span class="top-bar-welcome"><a href="#login" data-toggle="modal">登录</a> | <a href="__APP__/Login/regist">注册</a></span>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- 用户登录模态框 开始 -->
        <div class="modal fade" style="margin-top:50px;" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:400px;">
                <div class="modal-content">
                    <form action="" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">用户登录</h4>
                        </div>
                        <div class="modal-body">
                            <br />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon modal-username">&nbsp;&nbsp;</span>
                                <input type="text" class="form-control" placeholder="邮箱/手机号">
                            </div>
                            <br />
                            <br />
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon modal-username">&nbsp;&nbsp;</span>
                                <input type="password" class="form-control" placeholder="密码">
                            </div>
                            <br />
                            <div class="">
                                <a href="###">忘记密码？</a>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default">账号注册</button>
                            <button type="button" class="btn btn-primary">立即登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 用户登录模态框 结束 -->
        <!-- ============================================================== -->
        <div class="container logo-and-menu">
            <div class="row">
                <div class="logo">
                    <a href="###"><img src="__PUBLIC__/Home/images/logo.png" alt="Ribbon"></a>
                </div>
                <ul class="list-unstyled pull-right search-and-cart">
                    <li class="btn-cart">
                        <a href="javascript:void(0);"><span class="badge cart-num">2</span></a>
                        <div class="cart-top">
                            <div class="cart-inner">
                                <ul class="list-unstyled cart-top-list">
                                    <li class="cart-li">
                                        <a href="###"><img src="__PUBLIC__/Home/images/tmp/prd-309-309-3.jpg" alt=""></a>
                                        <a href="###" class="cart-top-product-title">一加手机保护壳透明...</a>
                                        <span>
                                            <b><em>￥3009.00</em> x 1 </b>
                                            <br />
                                            <br />
                                            <i>删除</i>
                                        </span>
                                    </li>
                                    <li class="cart-li">
                                        <a href="###"><img src="__PUBLIC__/Home/images/tmp/prd-309-309-3.jpg" alt=""></a>
                                        <a href="###" class="cart-top-product-title">一加手机保护壳透明...</a>
                                        <span>
                                            <b><em>￥3009.00</em> x 1 </b>
                                            <br />
                                            <br />
                                            <i>删除</i>
                                        </span>
                                    </li>
                                </ul>
                                <div class="cart-foot">
                                    <div class="cart-total-price">
                                        共计<em>1</em>件商品
                                        <br/>
                                        <strong>合计：<em>39.90</em>元</strong>
                                    </div>
                                    <div class="cart-click">
                                        <a href="###">立即支付</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="btn-search" id="btn-
                    ">
                        <a href="javascript:void(0);"></a>
                    </li>
                </ul>
                <ul class="list-unstyled menu">
                    <li><a href="###" class="active">首页</a></li>
                    <li><a href="###" id="menu-product">产品</a></li>
                    <li><a href="<{:U('Support/index')}>">服务</a></li>
                    <li><a href="###">应用</a></li>
                    <li><a href="###">社区</a></li>
                </ul>
            </div>
        </div>
        <!-- 隐藏的向下滑动菜单 开始 -->
        <div class="slide-menu">
            <div class="container">
                <div class="col-md-3">
                    <a href="">
                        <img class="img-responsive" src="__PUBLIC__/Home/images/phone.png" alt="">
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="">
                        <img class="img-responsive" src="__PUBLIC__/Home/images/tablet.png" alt="">
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="">
                        <img class="img-responsive" src="__PUBLIC__/Home/images/wearable.png" alt="">
                    </a>
                </div>
                <div class="col-md-3 text-center">
                    <a href="">
                        <img class="img-responsive" src="__PUBLIC__/Home/images/accessories.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- 隐藏的向下滑动菜单 结束 -->
    </div>
    <!-- TOP AND MENU END -->
    <!-- 隐藏的菜单 开始 -->
    <div class="search-box">
        <form action="" method="post">
            <input type="text" name="keyword" class="search-txt" placeholder="如：MX4 Pro">
            <input type="submit" class="search-button" value="提交">
            <b id="close-search-box"></b>
        </form>
    </div>
    <!-- 隐藏的菜单 结束 -->
    <!-- BANNER START -->
    <div class="banner"></div>
    <!-- BANNER END -->
    <!-- Location 导航 开始 -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="__APP__">首页</a></li>
                    <li>新闻中心</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Location 导航 结束 -->
    <div class="main-content">
        <div class="con-l-lists">
            <!-- 新闻列表 开始 -->

            <foreach name="list" item="v">
            <div class="news-recom-lists">
                <div class="page-header">
                    <h3><{$v.title}></h3>
                    <p class="title-info">作者：<{$v.author}>&nbsp;&nbsp;/&nbsp;&nbsp;发布时间：<{$v.create_time|date="Y-m-d",###}>&nbsp;&nbsp;/&nbsp;&nbsp;来源：努比亚新闻<em><i></i><{$v.clicktimes}></em></p>
                </div>
                <div class="list-images">
                    <img src="__PUBLIC__/News/<{$v.thumbnail}>" alt="">
                </div>
                <div class="list-desc">
                    <{$v.description}>
                </div>
                <div class="read-more"><a href="__CONTROLLER__/news/id/<{$v.id}>">阅读全文<b></b></a></div>
            </div>
            </foreach>
<!--
            <div class="news-recom-lists">
                <div class="page-header">
                    <h3>努比亚携中国创新 亮相2015CES展</h3>
                    <p class="title-info">作者：nubia&nbsp;&nbsp;/&nbsp;&nbsp;发布时间：2015-01-09&nbsp;&nbsp;/&nbsp;&nbsp;来源：努比亚新闻<em><i></i>32123</em></p>
                </div>
                <div class="list-images">
                    <img src="__PUBLIC__/Home/images/tmp/d180ef7c0c271184cddb2f6d467e32de_640x248.jpg" alt="">
                </div>
                <div class="list-desc">
                    国内新锐高端手机品牌努比亚，携广受国内消费者喜爱的X6、Z7系列智能手机惊艳亮相2015CES（国际消费类电子产品展览会展）,CES让全球的媒体看到了以努比亚为代表的国产手机的技术创新，我们也期待努比亚在2015年能带给我们更多的惊喜！
                </div>
                <div class="read-more"><a href="###">阅读全文<b></b></a></div>
            </div>

            <div class="news-recom-lists">
                <div class="page-header">
                    <h3>努比亚携中国创新 亮相2015CES展</h3>
                    <p class="title-info">作者：nubia&nbsp;&nbsp;/&nbsp;&nbsp;发布时间：2015-01-09&nbsp;&nbsp;/&nbsp;&nbsp;来源：努比亚新闻</p>
                </div>
                <div class="list-images">
                    <img src="__PUBLIC__/Home/images/tmp/a302c8596fe6e11b9fdbd36318f8c2be_640x248.jpg" alt="">
                </div>
                <div class="list-desc">
                    国内新锐高端手机品牌努比亚，携广受国内消费者喜爱的X6、Z7系列智能手机惊艳亮相2015CES（国际消费类电子产品展览会展）,CES让全球的媒体看到了以努比亚为代表的国产手机的技术创新，我们也期待努比亚在2015年能带给我们更多的惊喜！
                </div>
                <div class="read-more"><a href="###">阅读全文<b></b></a></div>
            </div>
            <div class="news-recom-lists">
                <div class="page-header">
                    <h3>努比亚携中国创新 亮相2015CES展</h3>
                    <p class="title-info">作者：nubia&nbsp;&nbsp;/&nbsp;&nbsp;发布时间：2015-01-09&nbsp;&nbsp;/&nbsp;&nbsp;来源：努比亚新闻</p>
                </div>
                <div class="list-images">
                    <img src="__PUBLIC__/Home/images/tmp/df3bfdcb0cda6e98327640c31e1892b1_640x248.jpg" alt="">
                </div>
                <div class="list-desc">
                    国内新锐高端手机品牌努比亚，携广受国内消费者喜爱的X6、Z7系列智能手机惊艳亮相2015CES（国际消费类电子产品展览会展）,CES让全球的媒体看到了以努比亚为代表的国产手机的技术创新，我们也期待努比亚在2015年能带给我们更多的惊喜！
                </div>
                <div class="read-more"><a href="###">阅读全文<b></b></a></div>
            </div>
            <div class="news-recom-lists">
                <div class="page-header">
                    <h3>努比亚携中国创新 亮相2015CES展</h3>
                    <p class="title-info">作者：nubia&nbsp;&nbsp;/&nbsp;&nbsp;发布时间：2015-01-09&nbsp;&nbsp;/&nbsp;&nbsp;来源：努比亚新闻</p>
                </div>
                <div class="list-images">
                    <img src="__PUBLIC__/Home/images/tmp/a302c8596fe6e11b9fdbd36318f8c2be_640x248.jpg" alt="">
                </div>
                <div class="list-desc">
                    国内新锐高端手机品牌努比亚，携广受国内消费者喜爱的X6、Z7系列智能手机惊艳亮相2015CES（国际消费类电子产品展览会展）,CES让全球的媒体看到了以努比亚为代表的国产手机的技术创新，我们也期待努比亚在2015年能带给我们更多的惊喜！
                </div>
                <div class="read-more"><a href="###">阅读全文<b></b></a></div>
            </div>
            !-->
            <!-- 新闻列表 结束 -->

            <!--分页-->
            <div class="page" style="height: 80px;">
                <{$page}>
            </div>



        </div>
        <div class="con-r-lists">
            <div class="rec-news">
                <div class="r-title">
                    <h3 class="r-top-title active">企业新闻</h3>
                    <h3 class="r-top-title">产品测评</h3>
                </div>
                <div class="top-news current">

                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/92c37d951ac726561f2049d7ad0341fd_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading"><a href="__CONTROLLER__/news/id/<{$v.id}>"><{$v.title}></a></h4>
                            
                        </div>
                    </div>
                    <!--
                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/1c65cef94863ae3111d8cd95d4d4920f_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading"><a href="###">坚守本分，勿忘初心</a></h4>
                    五位高管首次分享vivo企业品牌故事...
                        </div>
                    </div>
                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/6da2a9f7042b23598186ef48403123b4_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading"><a href="###">坚守本分，勿忘初心</a></h4>
                            五位高管首次分享vivo企业品牌故事...
                        </div>
                    </div>
                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/2b7ca0184051a43171d5767787dd698a_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading"><a href="###">坚守本分，勿忘初心</a></h4>
                            五位高管首次分享vivo企业品牌故事...
                        </div>
                    </div>
                !-->
                </div>
                <div class="top-news">
                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/1c65cef94863ae3111d8cd95d4d4920f_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading">坚守本分，勿忘初心</h4>
                            五位高管首次分享vivo企业品牌故事...
                        </div>
                    </div>
                    <!--
                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/92c37d951ac726561f2049d7ad0341fd_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading">坚守本分，勿忘初心2</h4>
                            五位高管首次分享vivo企业品牌故事...
                        </div>
                    </div>
                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/2b7ca0184051a43171d5767787dd698a_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading">坚守本分，勿忘初心</h4>
                            五位高管首次分享vivo企业品牌故事...
                        </div>
                    </div>
                    <div class="media r-lists top-news-lists">
                        <a class="media-left" href="#">
                            <img class="r-lists-image" src="__PUBLIC__/Home/images/tmp/6da2a9f7042b23598186ef48403123b4_120x60.jpg" alt="...">
                        </a>
                        <div class="media-body r-lists-word">
                            <h4 class="media-heading">坚守本分，勿忘初心</h4>
                            五位高管首次分享vivo企业品牌故事...
                        </div>
                    </div>

                    !-->
                </div>
                <div class="check-more-news">
                    <!--<a href="###">点击查看更多新闻</a> !-->
                </div>

            </div>
            <div class="some-links">
                
            </div>
        </div>
    </div>
    <!-- 底部图标 开始 -->
    <div class="footer-icons">
        <div class="container">
            <div class="col-md-3 footer-btns">
                <a href="###">
                    <b></b>
                    <span class="text-center">支持货到付款</span>
                </a>
            </div>
            <div class="col-md-3 footer-btns">
                <a href="###">
                    <b></b>
                    <span class="text-center">7天无理由退货</span>
                </a>
            </div>
            <div class="col-md-3 footer-btns">
                <a href="###">
                    <b></b>
                    <span class="text-center">售后上门服务</span>
                </a>
            </div>
            <div class="col-md-3 footer-btns">
                <a href="###">
                    <b></b>
                    <span class="text-center">满59元免费包邮</span>
                </a>
            </div>
        </div>
    </div>
    <!-- 底部图标 结束 -->
    <!-- footer 开始 -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <dl>
                        <dt><h4>关于我们</h4></dt>
                        <dd><a href="###">关于ribbon</a></dd>
                        <dd><a href="###">新闻中心</a></dd>
                        <dd><a href="###">加入我们</a></dd>
                        <dd><a href="###">公益</a></dd>
                        <dd><a href="###">星空之约</a></dd>
                        <dd><a href="###">联系我们</a></dd>
                        <dd><a href="###">友情链接</a></dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt><h4>产品</h4></dt>
                        <dd><a href="###">所有产品</a></dd>
                        <dd><a href="###">平板系列</a></dd>
                        <dd><a href="###">手机</a></dd>
                        <dd><a href="###">穿戴产品</a></dd>
                        <dd><a href="###">配件</a></dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt><h4>服务中心</h4></dt>
                        <dd><a href="###">体验店</a></dd>
                        <dd><a href="###">售后服务</a></dd>
                        <dd><a href="###">官服中心</a></dd>
                        <dd><a href="###">帮助中心</a></dd>
                        <dd><a href="###">软件下载</a></dd>
                        <dd><a href="###">固件升级</a></dd>
                    </dl>
                </div>
                <div class="col-md-2">
                    <dl>
                        <dt><h4>关注我们</h4></dt>
                        <dd><a href="###">社区</a></dd>
                        <dd><a href="###">立即注册</a></dd>
                        <dd><a href="###">新浪微博</a></dd>
                        <dd><a href="###">QQ空间</a></dd>
                        <dd><a href="###">微信</a></dd>
                        <dd><a href="###">百度贴吧</a></dd>
                    </dl>
                </div>
                <div class="col-md-4 text-right" style="border-right:none;">
                    <h2>400-700-5858</h2>
                    <p style="margin-bottom:50px;">周一到周日 8:30-20:30 (全年无休)</p>
                    <a href="###" class="btn btn-primary">7*24小时在线客服</a>
                    <div class="btn-group dropup" style="border:none;">
                        <button type="button" class="btn btn-default">简体中文</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">English</a></li>
                            <li><a href="#">繁體中文</a></li>
                            <li><a href="#">台灣繁體</a></li>
                            <li><a href="#">Deutsch</a></li>
                            <li><a href="#">Русский</a></li>
                            <li><a href="#">עברית</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row foot-logo">
                <!-- <img src="__PUBLIC__/Home/images/foot-logo.png" alt=""> -->
            </div>
        </div>
    </div>
    <!-- footer 结束 -->
    <div class="copyright">
        <div class="container">
            <div class="copyright-words">2012-2014 努比亚 版权所有 粤ICP备10006213号-2 ICP经营许可证编号：粤B2-20120688  深圳市中兴移动通信有限公司</div>
            <div class="pull-right copyright-icon"></div>
        </div>
    </div>
</body>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<!-- <script src="__PUBLIC__/Home/js/tooltips-popovers.min.js"></script> -->
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Home/js/news-list.js"></script>
</html>