<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城系统商品安装向导</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__ROOT__/Application/Install/Common/css/style.css" />
    <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
</head>
<body>
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <img src="__ROOT__/Application/Install/Common/images/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="row" style="overflow:hidden;">
                <div class="alert alert-warning alert-dismissible col-md-10 col-md-offset-1 warning-box" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>提示信息：</strong> 如果你在安装的过程中遇到任何问题，请发送邮件至 Email:guchengwuyue@163.com.
                </div>
                <div class="col-md-10 col-md-offset-1" style="background:#fff">
                    <div class="row">
                        <div class="main-in col-md-4 left">
                            <ul class="nav nav-pills nav-stacked">
                               <li role="presentation" class="active">
                                    <a href="#"><h2 style="margin:10px;">安装向导</h2></a>
                                </li>
                               <li role="presentation"><a href="#">第一步：阅读许可协议</a></li>
                               <li role="presentation"><a href="#">第二步：检查安装环境</a></li>
                               <li role="presentation"><a href="#">第三步：参数设置</a></li>
                               <li role="presentation" class="active"><a href="#">第四步：执行安装</a></li>
                               <li role="presentation"><a href="#">第五步：安装完成</a></li>
                            </ul>                 
                        </div>
                        <div class="main-in col-md-8 right">
                            <div class="right-body">
                                
                                <div class="complete">
                                    <h4>正在安装，请稍候</h4>
                                    <p>
                                     <img src="__ROOT__/Application/Install/Common/images/loading.gif" alt="">
                                    </p>
                                </div>

                            </div>
                            <!-- <div class="right-footer"> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 copyright" style="font-size:10px;">
                    Copyright&copy; Imagery意象图文网络工作室所有
                </div> 
            </div>
        </div>
    </div>
</body>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script src="__ROOT__/Application/Install/Common/js/install.js"></script>

<script>

</script>
</html>