<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/adv.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
            <a href="#" class="current">系统设置</a> 
        </a>
    </div>
    <h1 style="margin-top:10px;"></h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
         <a href="__CONTROLLER__/articleList" class="btn btn-info"><b>文章列表</b></a>
            <div class="add-adv" style="float:right;"> 
                <a href="__CONTROLLER__/cateList" class="btn btn-info"><b>文章分类列表</b></a>
                 <a href="<{:U('SupportArticles/articleCate')}>" class="btn btn-info"><b> 添加文章类别</b></a>
                <a href="__CONTROLLER__/article" class="btn btn-info"><b>添加文章</b></a>
            </div>
        <div class="row-fluid">
            <div class="span12">
               <div class="widget-box">
                   <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                      <form action="<{:U('SupportArticles/articleList')}>" method="get">
                          <span style="font-size:14px;">　文章分类 :</span> <select name="cat_id" style="width:200px;">
                                    <foreach name="data" item="v">
                                      <option value="<{$v.id}>"><{$v.cat_name}></option>
                                    </foreach>
                                  </select>
                           　<input type="submit" value="查询" style="height:27px;" class="btn btn-success">
                      </form>
                      <span class="label label-info"></span> </div>
                    <div class="widget-content nopadding">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                        
                          <th style="font-size:14px;">文章标题</th>
                          <th style="font-size:14px;">所属类别</th>
                          <th style="font-size:14px;">添加时间</th>
                          <th style="font-size:14px;">点击次数</th>
                          <th style="font-size:14px;">
                             是否显示
                          </th>
                          <th style="font-size:14px;">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <foreach name="list" item="v">
                        <tr>
                        
                          <td style="font-size:14px;" ><{$v.title}></td>
                          <td style="font-size:14px;"><{$v.cname}></td>
                          <td style="font-size:14px;"><{$v.creat_time}></td>
                          <td style="font-size:14px;"><{$v.clicktimes}></td>
                          <td style="font-size:14px;color:red;"><{$v.show}></td>
                          <td style="font-size:14px;">
                             <a href="<{:U('SupportArticles/editArticle/id/'.$v['id'])}>">编辑</a> | 
                             <a href="<{:U('SupportArticles/delArticle/id/'.$v['id'])}>">删除</a>
                          </td>
                        </tr>
                        </foreach>
                        <tr>
                          <td colspan="6">
                            <div class="pagination alternate">
                              <ul style="float:right;">
                                   <{$page}>
                             </ul>
                             </div>
                          </td>
                       </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
 <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
<script src="__PUBLIC__/Admin/js/muneopen.js"></script>
</block>
<!-- 底部JS执行区域 结束 -->
