<!-- =====================================================
    Author: Eden
    Date:   2015-01-12
    Function:   公共模板文件中定义的block区域，可以在子模板中继承和覆盖
 ========================================================= -->
<!-- 继承 公共模板 开始 -->
<extend name="Public:blank" />
<!-- 继承 公共模板 结束 -->

<!-- ===================================================== -->

<!-- 顶部CSS文件 开始 -->
<block name="cssFile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/colorpicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/datepicker.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/uniform.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/select2.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-style.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/matrix-media.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />


</block>
<!-- 顶部CSS文件 结束 -->

<!-- ===================================================== -->

<!-- 顶部JS文件 开始 -->
<block name="topJsFile">
    
</block>
<!-- 顶部JS文件 结束 -->

<!-- ===================================================== -->
<!-- 头部部分 开始 -->
<block name="publicHead">
    <div id="breadcrumb">
        <a href="index.html" title="返回系统主页" class="tip-bottom">
            <i class="icon-home"></i>
            管理首页
            <a href="#" class="current">系统设置</a> 
        </a>
    </div>
    <h1 style="margin-top:10px;">服务单详情</h1>
</block>
<!-- 头部部分 结束 -->

<!-- ===================================================== -->

<!-- 公共Body部分 开始 -->
<block name="publicBody">
    <!-- 将主体包含在 .row-fluid 内部 -->
    <div class="container-fluid">
     
        <div class="row-fluid">
            <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
               
                </div>
                <div class="widget-content nopadding">
                  <form action="#" method="get" class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label">商品名:</label>
                      <div class="controls">
                        <input type="text" class="span11" disabled placeholder="First name" style="width:250px;" value="<{$list['pro_name'].pro_name}>"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">服务的类型 :</label>
                      <div class="controls">
                        <input type="text" class="span11" disabled placeholder="Last name" style="width:250px;" value="<{$list['service_type']}>"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">提交的数量</label>
                      <div class="controls">
                        <input type="text"  class="span11" disabled  style="width:250px;" value="<{$list['applynum']}>"/>
                      </div>
                    </div>
                    <if condition="$list['images']">
                    <div class="control-group">
                      <label class="control-label">图片信息 :</label>
                      <div class="controls">
                       <img src="__PUBLIC__/Service/<{$list['images']}>" style="width:80px;height:80px;">
                      </div>
                    </div>
                    </if>
                    <div class="control-group">
                      <label class="control-label">商品的返回方式:</label>
                      <div class="controls">
                        <input type="text" class="span11" disabled style="width:250px;" value="快递"/>
                       </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">联系人:</label>
                      <div class="controls">
                        <input type="text" class="span11" disabled style="width:250px;" value="<{$list['contact']}>"/>
                       </div>
                    </div>
                     <div class="control-group">
                      <label class="control-label">手机号:</label>
                      <div class="controls">
                        <input type="text" class="span11" disabled style="width:250px;" value="<{$list['phone']}>"/>
                       </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">收货地址:</label>
                      <div class="controls">
                        <input type="text" class="span11" disabled style="width:350px;" value="<{$list['province']}> <{$list['city']}><{$list['area']}><{$list['street']}>"/>
                       </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" >问题的描述</label>
                      <div class="controls">
                        <textarea class="span11" disabled style="width:350px;height:100px;"><{$list['description']}></textarea>
                      </div>
                    </div>
                    <div class="form-actions">
                      <a class="btn btn-success" href="javascript:window.history.back();">返回</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</block>
<!-- 公共Body部分 结束 -->

<!-- ===================================================== -->

<!-- js文件模块 开始 -->
<block name="footJsFile">
    
</block>
<!-- js文件模块 结束 -->

<!-- ===================================================== -->

<!-- 底部JS执行区域 开始 -->
<block name="footScript">
  <script src="__PUBLIC__/Admin/js/jquery.min.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script> 
<script src="__PUBLIC__/Admin/js/masked.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script> 
<script src="__PUBLIC__/Admin/js/select2.min.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.js"></script> 
<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script> 
<script src="__PUBLIC__/Admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script> 
<script src="__PUBLIC__/Admin/js/bootstrap-wysihtml5.js"></script>
<script src="__PUBLIC__/Admin/js/muneopen.js"></script>
</block>
<!-- 底部JS执行区域 结束 -->
